[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly = "*"
numpy = "*"
polyline = "*"
folium = "*"
streamlit-folium = "*"
tqdm = "*"
streamlit-shadcn-ui = "*"
pipreqs = "*"
environs = "*"
st-tailwind = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.13"
